main section:first-child{
    /*background-color: dodgerblue;*/
}
#first-column div{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#first-column hr{
    /*padding-top: 10px;*/
    margin-left: 10px;
    margin-right: 10px;
}